<div class="col">
  <div class="small-col" style="margin-top: 12vh;">
    <div class="main-text">About Me</div>
    <div class="other-text" style="margin-top: 2vh;">
      Engineering Student | Software Developer | Athlete
    </div>
    <div class="small-row" style="margin-top: 2vh;">
      <a
        class="links"
        href="https://www.linkedin.com/in/nedim-hodzic-864a69132/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
      <div style="margin-left: 0.5vw;">|</div>
      <a
        style="margin-left: 0.5vw;"
        class="links"
        href="https://github.com/n3d1m"
        target="_blank"
        rel="noopener noreferrer"
        >Github</a
      >
    </div>
  </div>
  <div class="image-row" style="margin-top: 4vh;">
    <div class="par-text" style="margin-top: 4vh; width: 40vmin;">
      I am a fourth year Biomedical Engineering student at the University of
      Waterloo. I have a passion for developing software that can be used to
      assist people in their day to day lives. In addition to this, I play
      varsity basketball for Waterloo so you can constantly find me trying to
      manage my time between my studies and athletics. In my free time I enjoy
      working on side projects, playing video games and spending time with my
      friends/family.
    </div>
    <!-- <img src="../../assets/circuit2.png" class="circuit1" /> -->
    <img src="../../assets/nedim.jpg" class="nedim" />
    <!-- <img src="../../assets/circuit2.png" class="circuit2" /> -->
    <div
      class="small-col"
      style="
        width: 39vmin;
        height: 30vmin;
        margin-top: 4vh;
        align-items: flex-start;
        justify-content: flex-start;
      "
    >
      <div class="title-text">Name:</div>
      <div class="under-text">Nedim Hodzic</div>
      <div class="title-text">Age:</div>
      <div class="under-text">23 years</div>
      <div class="title-text">
        Current Location:
      </div>
      <div class="under-text">Waterloo, Ontario</div>
    </div>
  </div>
</div>
